body{
    background-color: #739cc5;
    padding-top: 20px;
}
button{
    border: 4px solid #fff;
    border-radius: 30px;
    padding: 10px;
    font-size: 24px;
    background: none;
    color: #ffffff;
    text-transform: uppercase;
}
.congrats{
    color: yellow;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    scale: 0;
    opacity: 0;
    transition: all 2s ease-in-out;
    max-width: 100%;
    margin-top: 80px;
    

}
.appear{
    scale: 1.5;
    opacity: 1;
    /* transform: rotate(360deg); */
    transform: translatey(-50px) 

}
.counter{
    background-color: white;
    padding:10px 20px;
    text-align: center;
    color: #b71414;
    font-weight: bolder;
    border-radius: 30px;

}
.counter h3{
    font-size: 30px;
    display: inline-block;

}
.counter p{
    font-weight: 400;
    display: inline-block;
}
.card{
    background-color: white;
    width: 120px;
    height: 170px;
    margin: auto;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    margin: 15px;
    
}

.card div {
    
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
}
.card div img {
    width: 100%;
    height: 100%;
}

.card .back{
    backface-visibility: hidden;
}
.card .front{
    backface-visibility: hidden;
}
.flip{
    transform: rotateY(180deg);
}